
<style type="text/css">
		#picture {
		float:left;
		width: 260px;
		max-height:250px;
		max-width:260px;
		margin-right:20px;
        height: 250px;
	}
	</style>
<!--MAIN START-->
<div id="main" ng-controller="MetierSup">
	<!--RECENT JOB SECTION START-->
	<section class="recent-row padd-tb">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8">

					<div id="content-area" style="width: 100% !important;">
					
						 <ul id="myList">

							<li>
								<div>
									<div class="text-col">
										<div class="hold" style="width: 100% !important;">
											<div class="resumes-content">
												<h2>Conseil Et Expertise</h2>
												<div class="box">
													<div class="hold" >
													
														<div id="picture">
														
						 									 <img src="images/expertise.png" alt="CapValue" style="width: 250px;height: 246px;max-width: 250px;max-height: 246px;">
														</div>
										                 <p>      Ce sont des prestations d'accompagnement des clients de CapValue dans la d&eacute;finition et l'impl&eacute;mentation
														 de leurs comp&eacute;tences m&eacute;tier dans un syst&eacute;me d'information.
                                                         CapValue compte plus de 100 experts dans ce domaine. </p>
														<h3>Les prestations types sont les suivantes</h3>
														<p>  <b>L'expertise m&eacute;tier</b> associ&eacute;e &agrave; la ma&acirc;trise de la gestion de projet en ma&iuml; trise d'ouvrage.
														</p>
														<p><b>Banque de d&eacute;tail : </b> moyens de paiement, finance, salle de march&eacute;, gestion d'actifs, outils d&eacute;di&eacute;s &agrave;  la gestion priv&eacute;e.</p>
														<p><b> Assurance :</b> IARD, assurance vie (individuel et collectif), la personne (mutuelle, pr&eacute;voyance, retraite)</p>
														<h3>Conseil technologique</h3>
														<p><b>Audit et d&eacutefinition des besoins et choix des produits :</b>  pilotage de projet, organisation, management de projet </p>
														<p><b>Conduite du changement:</b>  note de cadrage, sp&eacute;cifications g&eacute;n&eacute;rales</p>
														<p><b> M&eacute;thodologie : </b>CMMI, COBIT, ITIL </p>
														<p><b> Expertise technique : </b>architecture technique d'applications, d'infrastructures et r&eacute;seaux </p>
														<p><b> Expertise produits :  </b>serveurs d'applications (.NET, Websphere, Weblogic, Patrol, Cisc) </p>
														<br/>
													</div>
												</div>
											</div>
										</div>

									</div>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--RECENT JOB SECTION END-->
</div>
<!--MAIN END-->
