
<!--MAIN START-->
<div id="main">

  <!--SIGNUP SECTION START-->
  <section class="signup-section">  
    <div class="container">
      <div class="holder">
        <form ng-submit="valider()">
          <div class="input-box">
            <p class="help-block" style="color: green; !important;">
				<span ng-show="username">Afin de recuperer votre mot de passe merci de consulter votre boite email</span>
		    </p>
          </div>
          <div class="input-box"><i class="fa fa-envelope"></i>
            <input type="email" placeholder="Merci de saisir votre email" ng-model="email" required>
          </div>
          <input type="submit" value="Valider">
        </form>
      </div>
    </div>
  </section>
  <!--SIGNUP SECTION END-->

</div>
<!--MAIN END-->

