
<!--MAIN START-->
<div id="main">

  <!--SIGNUP SECTION START-->
  <section class="signup-section">  
    <div class="container">
      <div class="holder">
        <div class="thumb"><img src="images/getPassword.png" alt="img"></div>
        <form ng-submit="valider()">
          <p ng-show="changePasswordMessageState" style="color:green;">{{changePasswordMessage}}</p>
          <div class="input-box"><i class="fa fa-unlock"></i>
            <input type="password" placeholder="Nouveau mot de passe" ng-model="password" required>
          </div>
          
           <div class="input-box"><i class="fa fa-unlock"></i>
            <input type="password" placeholder="Confirmer votre mot de passe" ng-model="confirmPassword" required>
            <p ng-show="passwordNotIdentique" style="color:red;">Les deux mots de passe ne sont pas identiques</p> 
          </div>
          <input type="submit" value="Valider">
        </form>
      </div>
    </div>
  </section>
  <!--SIGNUP SECTION END-->

</div>
<!--MAIN END-->

