
<!--MAIN START-->
<div id="main">

  <!--SIGNUP SECTION START-->
  <section class="signup-section">  
    <div class="container">
      <div class="holder">
        <div class="thumb"><img src="images/cadenas.jpg" alt="img"></div>
        <form ng-submit="login()">
          <div class="input-box"><i class="fa fa-envelope"></i>
            <input type="email" placeholder="Email" ng-model="credentials.username" required>
          </div>
          <div class="input-box"><i class="fa fa-unlock"></i>
            <input type="password" placeholder="Mot de passe" ng-model="credentials.password" required>
            <p ng-show="loginErrors" style="color:red;">Login or password incorrect</p> 
          </div>
          <div class="check-box">
            <input id="id3" type="checkbox"/>
            <strong>Se souvenir de moi</strong>
          </div>
          <input type="submit" value="Connexion">
          <a href="" class="login" ng-click="forgotPassword()">Mot de passe oublié ?</a> <!-- <b>OU</b>
          <div class="login-social">
            <ul>
              <li><a href="#" class="fb"><i class="fa fa-linkedin"></i>S'inscrire avec LinkedIn</a></li>
              <li><a href="#" class="gp"><i class="fa fa-google-plus"></i>S'inscrire avec Google</a></li>
            </ul>
            <em>Nouveau sur CapRecrute? <a ui-sref="app.register">Inscrivez-vous</a></em></div> -->
            <div><em>Nouveau sur CapRecrute? <a ui-sref="app.register">Inscrivez-vous</a></em></div>
        </form>
      </div>
    </div>
  </section>
  <!--SIGNUP SECTION END-->

</div>
<!--MAIN END-->

