<!--INNER BANNER START-->
<section id="inner-banner">
	<div class="container">
		<h1>Votre Candidature a été bien envoyé</h1>
	</div>
</section>
<!--INNER BANNER END-->
<style type="text/css">
textarea {
	border: 1px solide #ccc !important;
	height: 120px !important;
}

</style>

<!--MAIN START-->
<div id="main">

	<!--CONTACT US START-->
	<section class="contact-section">
		<div class="map-box">

			<div class="contact-form padd-tb">
				<div class="container">

					<div class="row">
						<div class="col-md-12">
							<form method="post">
								<div class="row">
									<div class="container">

										<div class="post-box">

											<div class="text-box">

												<blockquote>
													<p>
														Nous avons bien reçu votre candidature, </br> Nous reviendrons
														vers vous pour une réponse dans les jours qui viennent...
													</P>
													</p>
												</blockquote>
												<div class="conteneur pull-right">
													<div class="btn-row">
														<a class="resume" href="" ui-sref="app.jobsList">Tous les offres</a>
													</div>
													<br>
												</div>
												<!-- <div class="pull-right">
													<a href="" ui-sref="app.jobsList">Tous les offres</a>
												</div> -->

											</div>

										</div>

									</div>
									<br />


									<div class="col-md-12">
										<div class="class="btn-col""></div>

									</div>
								</div>
						</div>

					</div>

				</div>
			</div>
		</div>
</div>
</section>
<!--CONTACT US END-->

</div>
<!--MAIN END-->
