


<!--MAIN START-->
<div id="main">
	<!--RECENT JOB SECTION START-->
	 

 
<div id="main">
 
<section class="post-section blog-post">
<div class="container">
<div class="row">
<div class="col-md-9 col-sm-8">
<div class="post-box">
<div class="frame"><a href="#"><img src="images/capPic.PNG" alt="img" /></a></div>
<div class="text-box">
<h4><a href="#">Professionnalisme, Compétence et Expérience...</a></h4>
<p>      Au coeur des m&eacutetiers de CapValue, cette activit&eacute s'appuie sur les technologies 
														du march&eacute les plus appropri&eacutees, notamment gr&acircce aux partenariats strat&eacutegiques. 
														Les ing&eacutenieurs et experts ma&iumltrisent la complexit&eacute des projets 
														applicatifs et mettent en oeuvre les solutions les mieux adapt&eacutees aux besoins des clients. </p>
														
														<p> Ces interventions peuvent consister en une ma&iumltrise d'oeuvre compl&egrave;te du syst&egrave;me, l'ing&eacunierie de solutions, 
														ou en l'affectation d'ing&eacunieurs CapValue au sein des &eacuquipes de l'entreprise cliente, l'ing&eacunierie de comp&eacutences. </p>
														<P>
														<blockquote>
<p>L'exp&egrave;rience acquise par CapValue dans ce cadre de projets d&egrave;montre la n&egrave;cessit&egrave; d'une collaboration bas&egrave;e sur la souplesse et
														 la r&egrave;activit&egrave;. </P>
														</p>
</blockquote>
<p>Une souplesse requise, en particulier pour les projets &agrave;  caract&egrave;re exploratoire, 
														avec des sp&egrave;cifications fonctionnelles et techniques mouvantes, qui se pr&egrave;cisent de mani&egrave;re it&egrave;rative suite &agrave; des prototypages. </p>
														<P>
														  Cette qualit&egrave;, qui rel&egrave;ve avant tout d'une culture d'entreprise, ne se d&egrave;cr&egrave;te pas mais s'est acquise dans le temps au travers
														 d'une relation de confiance mutuelle avec nos clients. La r&egrave;activit&egrave; s'av&egrave;re indispensable dans des logiques d'innovation et 
														 de forte concurrence march&egrave;, d&egrave;bouchant sur des produits ou services " time to market ". Au travers de m&egrave;thodologies projet
														  type " eXtrem programming", d'une capacit&egrave; &agrave; g&egrave;rer des mont&egrave;es en charge 
														rapides d'&egrave;quipes projet, CapValue s'est arm&egrave;e pour satisfaire de l'exigence de plus en plus forte de ses principaux clients.
														</P>
</div>
</div>

</div>
<div class="col-md-3 col-sm-4">
<aside>
<div class="sidebar">
<h4>Nos coordonnées</h4>
<div class="box">
<div class="frame"><a href="#"><img src="images/cap.jpg" alt="img"></a></div>
<div class="text-col">
<p>29, Rue de Bapaume, Espace EL Manar. Bvd Med V Casablanca – Maroc Tél : (+212) 5 22 24 03 53 Fax : (+212) 5 22 24 03 58.</p>
</div>
</div>
<h4>Notre objectif:</h4>
                <div class="sidebar-jobs">
                  <ul>
                    <li> <span>Optimiser la gestion de l'information au sein de votre entreprise.</span>  </li>
                    <li> <span>Vous guider dans vos choix lors de la mise en oeuvre de solutions destinées à valoriser vos données </span>   </li>
                    <li> <span>Vous accompagner dans l'utilisation de nos produits afin d'exploiter pleinement les technologies mises à votre disposition.
                    </span>  </li>
                    <li> <span>Vous assister dans la résolution d'éventuels problèmes techniques ou fonctionnels.
                    </span>   </li>
                    <li> <span>Vous suivre dans l'évolution de vos besoins et dans la conduite du changement. </br></br></br></span>   </li>
                  </ul>
                </div>

</div>
</aside>
</div>
</div>
</div>
</section>

</div>
<!--MAIN END-->

<script src="../../scripts/form.js"></script>


