<div
	style="width: 100% !important; margin: 0; padding: 0; background-color: #f3f4f4">

	<table width="100%" cellspacing="0" cellpadding="0"
		style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; margin: 0; padding: 0; width: 100% !important; background-color: #f3f4f4">
		<tbody>
			<tr style="padding: 0">
				<td align="center"
					style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">

					<table width="600" cellspacing="0" cellpadding="0"
						style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858">
						<tbody>
							<tr style="padding: 0">
								<td height="24" align="center" valign="middle"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">
									<div style="line-height: 0px; font-size: 0px; min-height: 0px"></div>
									<div style="font-size: 11px; line-height: 18px"></div>
								</td>
							</tr>
						</tbody>
					</table>
					
					<table width="600" cellspacing="0" cellpadding="0"
						style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; background-color: #ffffff; border-right: 1px solid #fefefe; border-left: 1px solid #fefefe">
						<tbody>
							<tr style="padding: 0">
								<td valign="top" align="center"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">
									<a href=""
									style="color: #037cd9; text-decoration: none; padding: 2px 0px"
									target="_blank" data-saferedirecturl=""><img
										alt="reseau-consultant" title=""
										style="width: 598px; outline: none; text-decoration: none; display: block; max-width: 100%; border: none"
										width="598" height="240" border="0"
										label="Image max width 598 pixel" src="Logo-Capvalue.png"
										class="CToWUd"></a>
								</td>
							</tr>
						</tbody>
					</table>
					<table width="600" cellspacing="0" cellpadding="0"
						style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; background-color: #ffffff; border-right: 1px solid #fefefe; border-left: 1px solid #fefefe">
						<tbody>
							<tr style="padding: 0">
								<td height="12" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

							<tr style="padding: 0">
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
								<td align="center"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"><table
										width="100%" cellpadding="0" cellspacing="0"
										style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; border-top: 1px dotted #e1e1e1">
										<tbody>
											<tr style="padding: 0">
												<td height="23"
													style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">&nbsp;</td>
											</tr>
										</tbody>
									</table></td>
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
							</tr>

						</tbody>
					</table>
					<table width="600" cellspacing="0" cellpadding="0"
						style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; background-color: #ffffff; border-right: 1px solid #fefefe; border-left: 1px solid #fefefe">
						<tbody>
							<tr style="padding: 0">
								<td height="12" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

							<tr style="padding: 0">
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
								<td valign="top" align="left"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">


									<p style="line-height: 24px; color: #585858; margin: 1em 0">
										<span style="color: #000080">Et oui ! même quand vous
											êtes en vacances, nous continuons à vous accompagner et à
											vous proposer de nouveaux projets ! </span><br>
										<span style="color: #000080">Postulez aux missions qui
											correspondent le plus à votre profil et à vos recherches,
											nous nous occupons du reste :</span>
									</p>
									<div style="margin-top: 10px; display: block"></div>

								</td>
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
							</tr>

							<tr style="padding: 0">
								<td height="12" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

						</tbody>
					</table>
					<table width="600" cellspacing="0" cellpadding="0"
						style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; background-color: #ffffff; border-right: 1px solid #fefefe; border-left: 1px solid #fefefe">
						<tbody>
							<tr style="padding: 0">
								<td height="12" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

							<tr style="padding: 0">
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
								<td valign="top" align="left"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">

									<h1
										style="font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 20px; letter-spacing: -1px; margin-bottom: 16px; margin-top: 4px; line-height: 24px">
										<a href=""
											style="color: #037cd9; text-decoration: none; padding: 2px 0px"
											target="_blank" data-saferedirecturl="">2 Consultants
											techniques TERADATA →</a>
									</h1> Expérience : 6 ans au minimum. Compétences : TERADATA<br>
									Mission de 3 mois renouvelable, basée à Casablanca. Besoin
									urgent.<br> Réf. : 3638
									<div style="margin-top: 10px; display: block"></div>

								</td>
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
							</tr>

							<tr style="padding: 0">
								<td height="12" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

						</tbody>
					</table>

					<table width="600" cellspacing="0" cellpadding="0"
						style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; background-color: #ffffff; border-right: 1px solid #fefefe; border-left: 1px solid #fefefe">
						<tbody>
							<tr style="padding: 0">
								<td height="12" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

							<tr style="padding: 0">
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
								<td align="center"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"><table
										width="100%" cellpadding="0" cellspacing="0"
										style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; border-top: 1px dotted #e1e1e1">
										<tbody>
											<tr style="padding: 0">
												<td height="23"
													style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">&nbsp;</td>
											</tr>
										</tbody>
									</table></td>
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
							</tr>

						</tbody>
					</table>
					<table width="600" cellspacing="0" cellpadding="0"
						style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; background-color: #ffffff; border-right: 1px solid #fefefe; border-left: 1px solid #fefefe">
						<tbody>
							<tr style="padding: 0">
								<td height="12" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

							<tr style="padding: 0">
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
								<td valign="top" align="left"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">

									<div
										style="font-family: Helvetica, Arial, sans-serif; font-size: 20px; letter-spacing: 0; margin-top: 2px; line-height: 30px">Autres
										missions en cours :</div>
								</td>
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
							</tr>

							<tr style="padding: 0">
								<td height="12" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

						</tbody>
					</table>

					<table width="600" cellspacing="0" cellpadding="0"
						style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; background-color: #ffffff; border-right: 1px solid #fefefe; border-left: 1px solid #fefefe">
						<tbody>
							<tr style="padding: 0">
								<td height="12" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

							<tr style="padding: 0">
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
								<td valign="top" align="left"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">

									<h1
										style="font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 20px; letter-spacing: -1px; margin-bottom: 16px; margin-top: 4px; line-height: 24px">
										<a href=""
											style="color: #037cd9; text-decoration: none; padding: 2px 0px"
											target="_blank" data-saferedirecturl="">Concepteur
											Développeur Front HTML5/JS →</a>
									</h1> Expérience : 4 ans au minimum. Compétences : HTML 5 et
									JavaScript<br> Mission de 3 mois renouvelable, basée à
									Casablanca. Besoin urgent.<br> Réf. : 3639
									<div style="margin-top: 10px; display: block"></div>

								</td>
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
							</tr>

							<tr style="padding: 0">
								<td height="12" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

						</tbody>
					</table>





					<table width="600" cellspacing="0" cellpadding="0"
						style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; background-color: #ffffff; border-right: 1px solid #fefefe; border-left: 1px solid #fefefe">
						<tbody>
							<tr style="padding: 0">
								<td height="12" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

							<tr style="padding: 0">
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
								<td align="center"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"><table
										width="100%" cellpadding="0" cellspacing="0"
										style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; border-top: 1px dotted #e1e1e1">
										<tbody>
											<tr style="padding: 0">
												<td height="23"
													style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">&nbsp;</td>
											</tr>
										</tbody>
									</table></td>
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
							</tr>

						</tbody>
					</table>
					<table width="600" cellspacing="0" cellpadding="0"
						style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858; background-color: #ffffff; border-right: 1px solid #fefefe; border-left: 1px solid #fefefe; border-bottom: 1px solid #fefefe">
						<tbody>
							<tr style="padding: 0">
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
								<td valign="top" align="center"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">
									<table width="100%" cellpadding="0" cellspacing="0"
										style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858">
										<tbody>
											<tr style="padding: 0">
												<td valign="top" align="left"
													style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse">
													<table width="360" cellpadding="0" cellspacing="0"
														align="left"
														style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858">
														<tbody>
															<tr style="padding: 0">
																<td align="left" valign="top"
																	style="padding: 0; line-height: 18px; color: #585858; border-collapse: collapse; font-size: 11px">
																	<div>
																		Vous recevez cet email car vous êtes inscrits à <a
																			href=""
																			style="color: #037cd9; text-decoration: none; padding: 2px 0px"
																			target="_blank" data-saferedirecturl="">Capvalue</a>
																		avec <a
																			style="color: #037cd9; text-decoration: none; padding: 2px 0px">simotmart@gmail.com</a>.
																		Si vous ne souhaitez plus recevoir nos email, merci de
																		vous <a href=""
																			style="color: #037cd9; text-decoration: none; padding: 2px 0px"
																			target="_blank" data-saferedirecturl="">désinscrire</a>
																		- © 2016 Capvalue, All rights reserved
																	</div>
																	<div>
																		<a href=""
																			style="color: #037cd9; text-decoration: none; padding: 2px 0px"
																			target="_blank" data-saferedirecturl=""><img
																			alt="Share this on LinkedIn"
																			src="https://ci4.googleusercontent.com/proxy/0dRGAs98vbi_srvhlZEbWfPNKXVUT6hWT92956BoZX-LZgokDiAUzQYvHdoEbSQh4OkeF8gMHE0W51CjZcMos76I8ZlcEPcEVrC_I7W5fmLwWyYQdN_VI9kjC4xfj2iQhNZVM0s9dqcfTkL8_w=s0-d-e1-ft#http://beinnetwork.com/fr/wp-content/plugins/myMail/assets/img/share/share_linkedin.png"
																			style="display: inline !important; outline: none; text-decoration: none; max-width: 100%; border: none"
																			class="CToWUd"></a> <a href=""
																			style="color: #037cd9; text-decoration: none; padding: 2px 0px"
																			target="_blank" data-saferedirecturl=""><img
																			alt="Share this on Google+"
																			src="https://ci4.googleusercontent.com/proxy/ZqMkRbc0C9rgQuKWJl3lW5ZpySIhYMawZp_bpFtVSJchluj5sSCyD2Mn1If1pzAQQxtr0bvuQO3Fa_O5kV7f9qqYGnqY_WqcA5_9QtVH7O07GJmI2IkPGF0gmvQqyhBSeAXQUb6XvkCfdFw=s0-d-e1-ft#http://beinnetwork.com/fr/wp-content/plugins/myMail/assets/img/share/share_google.png"
																			style="display: inline !important; outline: none; text-decoration: none; max-width: 100%; border: none"
																			class="CToWUd"></a> <a href=""
																			style="color: #037cd9; text-decoration: none; padding: 2px 0px"
																			target="_blank" data-saferedirecturl=""><img
																			alt="Share this on Facebook"
																			src="https://ci3.googleusercontent.com/proxy/JvwwmuJAbQNNLq1xVYyal99czApmPzoYEbNf__aSqvKX0zZ5z7ODa1R76oMKC4gP9Zm_Z5dXf4mO51yp-5wK2XK_QHCo-whXjYvlfLNxmhfT-5pZznv0S1Ygsz4MzMLcqFt212cU0D39zcHFZg=s0-d-e1-ft#http://beinnetwork.com/fr/wp-content/plugins/myMail/assets/img/share/share_facebook.png"
																			style="display: inline !important; outline: none; text-decoration: none; max-width: 100%; border: none"
																			class="CToWUd"></a> <a href=""
																			style="color: #037cd9; text-decoration: none; padding: 2px 0px"
																			target="_blank" data-saferedirecturl=""><img
																			alt="Share this on Twitter"
																			src="https://ci5.googleusercontent.com/proxy/A1Jjceev-T__ZeFpvF_w-uD24qC34Il6s1GMw3fIUAciwhUzqYo3R1JT11lh6kWikAIX0fs1PjvN5Y7TQ1rCgHykkK0f72XwrpUfp_voxOc_PWZiz31cAisSRm2KfRagpC2633V5fyj2CpZJ=s0-d-e1-ft#http://beinnetwork.com/fr/wp-content/plugins/myMail/assets/img/share/share_twitter.png"
																			style="display: inline !important; outline: none; text-decoration: none; max-width: 100%; border: none"
																			class="CToWUd"></a>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
													<table width="168" cellpadding="0" cellspacing="0"
														align="right"
														style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858">
														<tbody>
															<tr style="padding: 0">
																<td align="right" valign="top"
																	style="padding: 0; line-height: 18px; color: #585858; border-collapse: collapse; font-size: 11px">
																	<div style="margin-top: 10px; display: block">
																		<a label="Social Media Button" href=""
																			style="color: #037cd9; text-decoration: none; padding: 2px 0px"
																			target="_blank" data-saferedirecturl=""><img
																			src="?ui=2&amp;ik=5eab3a4d7f&amp;view=fimg&amp;th=156b7ab077b7c427&amp;attid=0.4&amp;disp=emb&amp;realattid=a75dfe468d56bfa9_0.1.3&amp;attbid=ANGjdJ8pm5w50wBGaHkK67aEVpqEKh2kzoEnES3BlAL9NxcZ14fygVi7cLzD5vUoXtawYzFlDIHq0P9MKMaxvqnVnHrqID9E3wKWzHQCYrEcRZSJ3Q8zLpYnf0FZnwk&amp;sz=w64-h64&amp;ats=1471960258194&amp;rm=156b7ab077b7c427&amp;zw&amp;atsh=1"
																			alt="" title=""
																			style="width: 32px; display: none !important; outline: none; text-decoration: none; max-width: 100%; border: none"
																			width="32" height="32" border="0" class="CToWUd"></a>
																		<a label="Social Media Button" href=""
																			style="color: #037cd9; text-decoration: none; padding: 2px 0px"
																			target="_blank" data-saferedirecturl=""><img
																			src="?ui=2&amp;ik=5eab3a4d7f&amp;view=fimg&amp;th=156b7ab077b7c427&amp;attid=0.7&amp;disp=emb&amp;realattid=a75dfe468d56bfa9_0.1.4&amp;attbid=ANGjdJ8LxxBWuxaphq4bx_ORaCvWN5effUH7wR3htdqU9MmYug97SUHvRXIjR1fB11fSFAbkiUiU2AEsqItiMp8FOsJ537QOTi_igBTYTLjCfiZYiunm-dAP8V60lDs&amp;sz=w64-h64&amp;ats=1471960258194&amp;rm=156b7ab077b7c427&amp;zw&amp;atsh=1"
																			alt="" title=""
																			style="width: 32px; display: none !important; outline: none; text-decoration: none; max-width: 100%; border: none"
																			width="32" height="32" border="0" class="CToWUd"></a>
																		<a label="Social Media Button" href=""
																			style="color: #037cd9; text-decoration: none; padding: 2px 0px"
																			target="_blank" data-saferedirecturl=""><img
																			src="?ui=2&amp;ik=5eab3a4d7f&amp;view=fimg&amp;th=156b7ab077b7c427&amp;attid=0.5&amp;disp=emb&amp;realattid=a75dfe468d56bfa9_0.1.5&amp;attbid=ANGjdJ8-bYLcnvNBwQr8FrdWla6100tBdzad2yIk22juJt9V2PUraR5TEvn-4sqbuuNt0Spw_djtjB0GsxQfdL7eOp6B46lJ2fdBXh41HmXf7HMyR8MGWj4DG336Qfk&amp;sz=w64-h64&amp;ats=1471960258195&amp;rm=156b7ab077b7c427&amp;zw&amp;atsh=1"
																			alt="facebook" title="facebook"
																			style="width: 32px; display: none !important; outline: none; text-decoration: none; max-width: 100%; border: none"
																			width="32" height="32" border="0" class="CToWUd"></a>

																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>

											</tr>
										</tbody>
									</table>
								</td>
								<td width="24"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse; width: 24px">&nbsp;</td>
							</tr>

							<tr style="padding: 0">
								<td height="24" colspan="3"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>

						</tbody>
					</table>
					<table cellpadding="0" cellspacing="0"
						style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #585858">
						<tbody>
							<tr style="padding: 0">
								<td valign="top"
									style="padding: 0; line-height: 24px; color: #585858; border-collapse: collapse"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

	<br>
	<div class="yj6qo"></div>
	<div class="adL"></div>
</div>